
.all-blogs-container {
	position: relative;
	display: grid;
	/* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
	grid-template-columns: repeat(1, 1fr);
	box-sizing: border-box;

}

.all-blogs-project {
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}
@media (max-width: 600px) {
	.all-projects-project {
		width: calc(100% / 1);
	}
}
